---
# Let's Learn Big O!
---
<!DOCTYPE html>
<html>
<head>
    <title>Let's Learn Big O!</title>
    <link href="style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet" />
</head>
<body>
    <div id="indicator" class="hidden">
        Level
        <div class="level update">1</div>
        Round
        <div class="round update">1</div>
    </div>
    <div id="content">
        <div id="main" class="bubble">
            <div class="indicator update hidden">1</div>
            <h1>Let's Learn Big O!</h1>
            <p>Learn to use Big O notation, a common standard throughout the tech industry.</p>
            <a id="begin" class="button">Start</a>
        </div>
        <div id="answer" class="bubble">
            <p>TIME COMPLEXITY</p>
            <input type="text" />
            <a class="button hidden">Next</a>
        </div>
    </div>
    <div id="map" class="hidden">
        <a id="close-button"><img src="close.svg" /></a>
        {% for level in site.data.levels offset:1 %}
        <div class="map-level">
            <h1 class="name"><div class="level">{{ forloop.index }}</div>{{ level.name | upcase }}</h1>
            <ul>
                {% for round in level.rounds offset:1 %}
                <li><div class="round">{{ forloop.index }}</div>{{ round.name | upcase }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="main.js"></script>
</body>
</html>
