* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: #f8f3e7;
    font-family: 'Lato', sans-serif;
}

#container {
    background: #fff;
    margin: 20vh auto 0;
    width: calc(384px - 64px * 2);
    height: calc(384px - 64px * 2);
    border-radius: calc(384px / 2);
    padding: 64px;
}

#container h1 {
    margin-top: 76px;
    text-align: center;
}

#container p {
    margin-top: 24px;
    text-align: center;
}
